<link href="font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="froala_editor.min.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="froala_editor.min.js"></script>	
<script>
    $(function(){
        $('#edit').editable({inlineMode: false})
    });
</script>

<textarea id='edit' style="margin-top: 30px;"></textarea>